In [1]:
import requests
import http.client
import pandas as pd
import json

In [2]:
key = 'ae6fa679-ff73-4d55-b6e8-78dfceb0c140'
rest_endpoint = 'rest.iad-06'
base_url = "https://rest.iad-06.braze.com/email/unsubscribes"

In [3]:
header = {
            'Content-Type' : 'application/json',
            'Authorization' : f'Bearer {key}'
            
          }

In [5]:
res = requests.get("{base_url}?start_date={start_date}&end_date={end_date}&limit=500&offset={i}".format(base_url = base_url, i = 500,end_date = '2024-02-01',start_date='2023-11-01'), headers=header)
res

In [6]:
data = res.json()

In [7]:
data_formatted = pd.json_normalize(data)

In [8]:
type(data['emails'])

list

In [9]:
data_formatted = pd.json_normalize(data['emails'])

In [10]:
data_formatted.groupby('email').size().reset_index(name='count').sort_values('count', ascending=False)

                        email  count
0           2tone2g@gmail.com      1
329      nelle08_22@yahoo.com      1
342         odblr90@yahoo.com      1
341     oceans4me39@yahoo.com      1
340   oceanavista@comcast.net      1
..                        ...    ...
161            gsandu@aol.com      1
160   grneyez0770@comcast.net      1
159    greywolf5555@yahoo.com      1
158  gerardohulk626@gmail.com      1
499         zimux@hotmail.com      1

[500 rows x 2 columns]

In [11]:
data_formatted.groupby('email').count().sort_values(by='unsubscribed_at', ascending=False).head(10).reset_index()

                          email  unsubscribed_at
0             2tone2g@gmail.com                1
1          nelle08_22@yahoo.com                1
2             odblr90@yahoo.com                1
3         oceans4me39@yahoo.com                1
4       oceanavista@comcast.net                1
5          oangellove@yahoo.com                1
6  nyyankeesgrl8259@hotmail.com                1
7            nt.jihad@gmail.com                1
8          npcastro40@gmail.com                1
9           nolasco0007@aol.com                1