In [1]:
from IPython.display import IFrame

IFrame('https://data.fortworthtexas.gov/resource/k6ic-7kp7.json?case_no=180003105', width = 700, height = 450)

In [2]:
# This is the API endpoint - the source of our data
endpoint = "https://data.fortworthtexas.gov/resource/k6ic-7kp7.json"

# Here is the first part of the SoQL query - denoting what type of offense we want
type_query = "?$where=nature_of_call='THEFT'"

# Here is the second part of the query - we are taking offenses after midnight on December 1, 
# and prior to midnight on January 1
date_query = " AND reported_date>'2019-01-01T00:00:00' AND reported_date<'2020-01-01T00:00:00' &$limit=50000"

# We then concatenate together the endpoint and the two components of the SoQL query
# to get our API call.
theft_call = endpoint + type_query + date_query

In [4]:
IFrame(theft_call,width = 500, height = 700)

In [21]:
theft_call

"https://data.fortworthtexas.gov/resource/k6ic-7kp7.json?$where=nature_of_call='THEFT' AND reported_date>'2019-01-01T00:00:00' AND reported_date<'2020-01-01T00:00:00' &$limit=50000"

In [22]:
from urllib.parse import quote

formatted_call = quote(theft_call , safe = "/:?$=<->&")

In [23]:
formatted_call

'https://data.fortworthtexas.gov/resource/k6ic-7kp7.json?$where=nature_of_call=%27THEFT%27%20AND%20reported_date>%272019-01-01T00:00:00%27%20AND%20reported_date<%272020-01-01T00:00:00%27%20&$limit=50000'

In [228]:
import pandas as pd

theft_df = pd.read_json(formatted_call)

theft_df.shape

(12296, 17)

In [219]:
theft_df.groupby(['nature_of_call','state','attempt_complete'])['case_no_offense'].count()

nature_of_call  state  attempt_complete
THEFT           TX     A                      51
                       C                   12240
                Te     C                       3
Name: case_no_offense, dtype: int64

In [39]:
nature.first()

,case_no_offense,case_no,reported_date,from_date,offense,offense_desc,block_address,city,state,beat,division,councildistrict,attempt_complete,location_type,locationtypedescription,location_1
nature_of_call,,,,,,,,,,,,,,,,
THEFT,190060995-26A,190060995,2019-07-16T10:02:00.000,2019-03-16T12:00:00.000,26A,PC 31.04(E)(4) 2015 Theft of Service>=$2500<$...,6700 CAMP BOWIE BLVD,FORT WORTH,TX,L12,West,3.0,C,8.0,08 DEPARTMENT/DISCOUNT STORE,"{'latitude': '32.721920974474735', 'longitude'..."

In [229]:
theft_df = theft_df.head(1)

In [230]:
theft_df

,case_no_offense,case_no,reported_date,nature_of_call,from_date,offense,offense_desc,block_address,city,state,beat,division,councildistrict,attempt_complete,location_type,locationtypedescription,location_1
0,190060995-26A,190060995,2019-07-16T10:02:00.000,THEFT,2019-03-16T12:00:00.000,26A,PC 31.04(E)(4) 2015 Theft of Service>=$2500<$...,6700 CAMP BOWIE BLVD,FORT WORTH,TX,L12,West,3.0,C,8.0,08 DEPARTMENT/DISCOUNT STORE,"{'latitude': '32.721920974474735', 'longitude'..."

In [216]:
import json
theft_1_df = theft_df.location_1.head(1)

In [217]:
theft_1_df

0    {'latitude': '32.721920974474735', 'longitude'...
Name: location_1, dtype: object

In [53]:
json.dumps(theft_1_df)

TypeError: Object of type Series is not JSON serializable

In [60]:
list(theft_1_df)[0]

{'latitude': '32.721920974474735',
 'longitude': '-97.43228626354923',
 'human_address': '{"address": "", "city": "", "state": "", "zip": ""}'}

In [225]:
theft_df.head(1)

,case_no_offense,case_no,reported_date,nature_of_call,from_date,offense,offense_desc,block_address,city,state,beat,division,councildistrict,attempt_complete,location_type,locationtypedescription,location_1
0,190060995-26A,190060995,2019-07-16T10:02:00.000,THEFT,2019-03-16T12:00:00.000,26A,PC 31.04(E)(4) 2015 Theft of Service>=$2500<$...,6700 CAMP BOWIE BLVD,FORT WORTH,TX,L12,West,3.0,C,8.0,08 DEPARTMENT/DISCOUNT STORE,"{'latitude': '32.721920974474735', 'longitude'..."

In [234]:
theft_df

,case_no_offense,case_no,reported_date,nature_of_call,from_date,offense,offense_desc,block_address,city,state,beat,division,councildistrict,attempt_complete,location_type,locationtypedescription,location_1
0,190060995-26A,190060995,2019-07-16T10:02:00.000,THEFT,2019-03-16T12:00:00.000,26A,PC 31.04(E)(4) 2015 Theft of Service>=$2500<$...,6700 CAMP BOWIE BLVD,FORT WORTH,TX,L12,West,3.0,C,8.0,08 DEPARTMENT/DISCOUNT STORE,"{'latitude': '32.721920974474735', 'longitude'..."

In [244]:
loc_1 = theft_df.join(pd.json_normalize(theft_df['location_1']))

In [233]:
loc_1 = pd.merge[theft_df,pd.json_normalize(theft_df['location_1'])])

TypeError: merge() missing 1 required positional argument: 'right'

In [232]:
loc_1

,case_no_offense,case_no,reported_date,nature_of_call,from_date,offense,offense_desc,block_address,city,state,beat,division,councildistrict,attempt_complete,location_type,locationtypedescription,location_1,latitude,longitude,human_address
0,190060995-26A,190060995.0,2019-07-16T10:02:00.000,THEFT,2019-03-16T12:00:00.000,26A,PC 31.04(E)(4) 2015 Theft of Service>=$2500<$...,6700 CAMP BOWIE BLVD,FORT WORTH,TX,L12,West,3.0,C,8.0,08 DEPARTMENT/DISCOUNT STORE,"{'latitude': '32.721920974474735', 'longitude'...",NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.721920974474735,-97.43228626354923,"{""address"": """", ""city"": """", ""state"": """", ""zip""..."

In [87]:
type(str(theft_df['location_1'][0]))

str

In [243]:
loc_1

,case_no_offense,case_no,reported_date,nature_of_call,from_date,offense,offense_desc,block_address,city,state,beat,division,councildistrict,attempt_complete,location_type,locationtypedescription,location_1,latitude,longitude,human_address
0,190060995-26A,190060995.0,2019-07-16T10:02:00.000,THEFT,2019-03-16T12:00:00.000,26A,PC 31.04(E)(4) 2015 Theft of Service>=$2500<$...,6700 CAMP BOWIE BLVD,FORT WORTH,TX,L12,West,3.0,C,8.0,08 DEPARTMENT/DISCOUNT STORE,"{'latitude': '32.721920974474735', 'longitude'...",NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.721920974474735,-97.43228626354923,"{""address"": """", ""city"": """", ""state"": """", ""zip""..."

In [94]:
sample_type = type(loc_1["human_address"][0])
print(f"The data type before using apply function: {sample_type}\n")

The data type before using apply function: <class 'str'>

In [95]:
# Column names that contain JSON
json_cols = ['human_address']

def clean_json(x):
    "Create apply function for decoding JSON"
    return json.loads(x)

# Apply the function column wise to each column of interest
for x in json_cols:
    loc_1[x] = loc_1[x].apply(clean_json)

TypeError: the JSON object must be str, bytes or bytearray, not float

In [101]:
loc_1['human_address'][0]

'{"address": "", "city": "", "state": "", "zip": ""}'

In [91]:
type(loc_1['human_address'][0])

str

In [252]:
df_1 = loc_1.iloc[0:1]

In [253]:
df_1

,case_no_offense,case_no,reported_date,nature_of_call,from_date,offense,offense_desc,block_address,city,state,beat,division,councildistrict,attempt_complete,location_type,locationtypedescription,location_1,latitude,longitude,human_address
0,190060995-26A,190060995,2019-07-16T10:02:00.000,THEFT,2019-03-16T12:00:00.000,26A,PC 31.04(E)(4) 2015 Theft of Service>=$2500<$...,6700 CAMP BOWIE BLVD,FORT WORTH,TX,L12,West,3.0,C,8.0,08 DEPARTMENT/DISCOUNT STORE,"{'latitude': '32.721920974474735', 'longitude'...",32.721920974474735,-97.43228626354923,"{""address"": """", ""city"": """", ""state"": """", ""zip""..."

In [254]:
def explode_columns(json_string):
    data = json.loads(json_string)
    return [data[key] for key in data]

# Apply the function to each row in the DataFrame
df_1 = pd.concat([df_1, df_1['human_address'].apply(lambda x: pd.Series(explode_columns(x)))],axis=1)

In [255]:
df_1

,case_no_offense,case_no,reported_date,nature_of_call,from_date,offense,offense_desc,block_address,city,state,...,location_type,locationtypedescription,location_1,latitude,longitude,human_address,0,1,2,3
0,190060995-26A,190060995,2019-07-16T10:02:00.000,THEFT,2019-03-16T12:00:00.000,26A,PC 31.04(E)(4) 2015 Theft of Service>=$2500<$...,6700 CAMP BOWIE BLVD,FORT WORTH,TX,...,8.0,08 DEPARTMENT/DISCOUNT STORE,"{'latitude': '32.721920974474735', 'longitude'...",32.721920974474735,-97.43228626354923,"{""address"": """", ""city"": """", ""state"": """", ""zip""...",,,,

In [263]:
column_mapping = {0:'address',1:'city','2':'state','3':'zip'}

In [264]:
df_1.rename(column_mapping,inplace=True)

In [265]:
df_1.columns

Index([        'case_no_offense',                 'case_no',
                 'reported_date',          'nature_of_call',
                     'from_date',                 'offense',
                  'offense_desc',           'block_address',
                          'city',                   'state',
                          'beat',                'division',
               'councildistrict',        'attempt_complete',
                 'location_type', 'locationtypedescription',
                    'location_1',                'latitude',
                     'longitude',           'human_address',
                               0,                         1,
                               2,                         3],
      dtype='object')

In [267]:
df_1

,case_no_offense,case_no,reported_date,nature_of_call,from_date,offense,offense_desc,block_address,city,state,...,location_type,locationtypedescription,location_1,latitude,longitude,human_address,0,1,2,3
address,190060995-26A,190060995,2019-07-16T10:02:00.000,THEFT,2019-03-16T12:00:00.000,26A,PC 31.04(E)(4) 2015 Theft of Service>=$2500<$...,6700 CAMP BOWIE BLVD,FORT WORTH,TX,...,8.0,08 DEPARTMENT/DISCOUNT STORE,"{'latitude': '32.721920974474735', 'longitude'...",32.721920974474735,-97.43228626354923,"{""address"": """", ""city"": """", ""state"": """", ""zip""...",,,,

In [206]:
df_1.columns = ['address', 'city', 'state', 'zip']

ValueError: Length mismatch: Expected axis has 7 elements, new values have 4 elements

In [205]:
df

       address       city state    zip
0  123 Main St    Anytown    CA  12345
1   456 Elm St  Othertown    NY  67890

In [193]:
df_1['human_address'].apply(explode_columns)

address    [, , , ]
Name: human_address, dtype: object

In [158]:
df_1['human_address'].apply(lambda x: pd.Series(explode_columns(x)))

  0 1 2 3
0

In [150]:
eval(loc_1.human_address[0])

{'address': '', 'city': '', 'state': '', 'zip': ''}

In [65]:
sample_type = type(theft_df["location_1"][0])
print(f"The data type before using apply function: {sample_type}\n")

The data type before using apply function: <class 'dict'>

In [ ]:
sample_type = type(theft_df["location_1"][0])
print(f"The data type before using apply function: {sample_type}\n")